#степик_Демо KarpovCourses Аналитик данных_мини-проект_1
В первом мини-проекте вам предстоит проанализировать данные о бронировании отелей. Чуть ниже вы можете ознакомиться со списком вопросов и описанием данных. Для удобства проверки, далее задачи разбиты на стэпы. В некоторых из них также можно встретить небольшие подсказки. Успехов :)

Задачи
Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 

Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.На сколько ночей в среднем бронируют отели разных типов?
Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
Проанализируйте даты запланированного прибытия. 
– На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов
Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?
Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

Описание данных
Имеются следующие переменные:

Hotel – тип отеля (City Hotel или Resort Hotel)  
Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
Arrival full date – полная дата прибытия
Arrival date year – год прибытия  
Arrival date month – месяц прибытия  
Arrival date week number – номер недели прибытия
Arrival date day of month – день прибытия
Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
Adults – число взрослых
Children – число детей
Babies – число младенцев 
Meal – выбранный тип питания
Country – страна происхождения клиента
Reserved room type – тип зарезервированного номера
Assigned room type – тип полученного номера (может отличаться от забронированного)
Customer type – тип бронирования
Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
Reservation status date – дата обновления статуса

In [5]:
import pandas as pd
%config IPCompleter.greedy=True
url = 'https://stepik.org/media/attachments/lesson/360344/bookings.csv'

In [6]:
data = pd.read_csv(url, sep=";")
data[:7]
def rename_rep(name):
    return(name.replace(' ','_')).lower()
data.rename(columns = rename_rep, inplace=True)
data.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [7]:
bookings = data
bookings_head = data.head(7)

In [8]:
bookings_head

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [9]:
data.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

In [10]:
data.shape
data.hotel.value_counts()

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

In [11]:
# Is canceled – бронирование было отменено (1) или нет (0);
# не отмененное считается успешным 
filter_ok = data['is_canceled']==0
data_ok = data.loc[filter_ok]
data_ok.country.value_counts()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
MLI        1
SYC        1
ATF        1
SMR        1
SLE        1
Name: country, Length: 165, dtype: int64

In [12]:
# На сколько ночей в среднем бронируют отели разных типов?
data.groupby('reserved_room_type').agg({'stays_total_nights':'mean'}).round(2)

                    stays_total_nights
reserved_room_type
A                                 3.12
B                                 3.40
C                                 4.67
D                                 4.13
E                                 4.72
F                                 3.72
G                                 4.30
H                                 4.03
L                                 1.17
P                                 1.25

In [13]:
data.groupby('hotel').agg({'stays_total_nights':'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [14]:
# data.dtypes
# Иногда тип номера, полученного клиентом (assigned_room_type),
# отличается от изначально забронированного (reserved_room_type).
# Такое может произойти, например, по причине овербукинга.
# Сколько подобных наблюдений встретилось в датасете?

In [15]:
over_book = data['assigned_room_type'] != data['reserved_room_type']

In [16]:
over_book.sum()

14917

In [17]:
# Проанализируйте даты запланированного прибытия. 
# – На какой месяц чаще всего успешно оформляли бронь в 2016?
# Изменился ли самый популярный месяц в 2017?
data_ok_2016 = data_ok.query('arrival_date_year == 2016')
data_ok_2017 = data_ok.query('arrival_date_year == 2017')
data_ok_2016.arrival_date_month.value_counts()

October      3689
May          3563
September    3372
April        3367
March        3347
August       3238
June         3196
July         3073
November     2818
February     2554
December     2462
January      1691
Name: arrival_date_month, dtype: int64

In [18]:
data_ok_2017.arrival_date_month.value_counts()

May         3551
July        3329
March       3298
June        3208
April       3198
August      3109
February    2818
January     2431
Name: arrival_date_month, dtype: int64

In [19]:
data_ok_2016.arrival_date_month.value_counts() - data_ok_2017.arrival_date_month.value_counts()

April        169.0
August       129.0
December       NaN
February    -264.0
January     -740.0
July        -256.0
June         -12.0
March         49.0
May           12.0
November       NaN
October        NaN
September      NaN
Name: arrival_date_month, dtype: float64

In [20]:
# – Сгруппируйте данные по годам и проверьте,
# на какой месяц бронирования отеля типа City Hotel 
# отменялись чаще всего в каждый из периодов
# data.groupby(['arrival_date_year','hotel','arrival_date_month']).query('hotel' == 'City Hotel').is_canceled.sum()
data.query("hotel=='City Hotel'").groupby(['arrival_date_year','arrival_date_month']).is_canceled.sum()

arrival_date_year  arrival_date_month
2015               August                1232
                   December               668
                   July                   939
                   November               301
                   October               1321
                   September             1543
2016               April                 1539
                   August                1247
                   December              1072
                   February               930
                   January                438
                   July                  1043
                   June                  1720
                   March                 1108
                   May                   1436
                   November              1360
                   October               1947
                   September             1567
2017               April                 1926
                   August                1123
                   February               971
                   January               1044
                   July                  1324
                   June                  1808
                   March                 1278
                   May                   2217
Name: is_canceled, dtype: int64

In [35]:
# Посмотрите на числовые характеристики трёх переменных: adults,
# children и babies. Какая из них имеет наибольшее среднее значение?
spis_q = ["adults", "children", "babies"]
data[spis_q].mean().idxmax

<bound method Series.idxmax of adults      1.856403
children    0.103890
babies      0.007949
dtype: float64>

In [36]:
# Создайте колонку total_kids, объединив children и babies.
# Отели какого типа в среднем пользуются большей популярностью
# у клиентов с детьми?
data["total_kids"] = data["children"] + data["babies"]
spis_q.append("total_kids")
# data[spis_q].query('children' >=1)

In [37]:
data.groupby('hotel').agg({'total_kids':'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [38]:
data.groupby('hotel').children.value_counts() + data.groupby('hotel').babies.value_counts()

hotel         children  babies
City Hotel    0.0       0         153181
                        1          74581
                        2          74226
                        9          74221
                        10         74221
              1.0       0          81984
                        1           3384
                        2           3029
                        9           3024
                        10          3024
              2.0       0          80985
                        1           2385
                        2           2030
                        9           2025
                        10          2025
              3.0       0          79020
                        1            420
                        2             65
                        9             60
                        10            60
Resort Hotel  0.0       0          76088
                        1          37115
                        2          36585
              1.0       0          41350
                        1           2377
                        2           1847
              2.0       0          41140
                        1           2167
                        2           1637
              3.0       0          39529
                        1            556
                        2             26
              10.0      0          39513
                        1            540
                        2             10
dtype: int64

In [39]:
data.groupby('hotel').babies.value_counts()

hotel         babies
City Hotel    0         78961
              1           361
              2             6
              9             1
              10            1
Resort Hotel  0         39512
              1           539
              2             9
Name: babies, dtype: int64

In [40]:
# Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании 
#указал хотя бы одного ребенка (total_kids), в противном случае – False. 
#Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, 
#выраженное в процентах (churn rate).
# Укажите, среди какой группы показатель выше.
churn_rate = data['has_kids'] = data.total_kids > 0
(data.query('has_kids==False and is_canceled == 1').shape[0] / data.query('has_kids==False ').shape[0]) *100

37.221283323338604

In [41]:

#??pd.unique

In [42]:
#pd.unique([('a', 'b'), ('b', 'a'), ('a', 'c'), ('b', 'a')])

In [43]:
#pd.Series(pd.unique([('a', 'b'), ('b', 'a'), ('a', 'a'), ('b', 'a')]))

In [57]:
df = [('b', 'c'), ('b', 'b'), ('b', 'b'), ('d', 'b')]

In [58]:
df

[('b', 'c'), ('b', 'b'), ('b', 'b'), ('d', 'b')]

In [59]:
ddf = pd.DataFrame(df)

In [60]:
ddf #ddf.nunique

   0  1
0  b  c
1  b  b
2  b  b
3  d  b

In [63]:
c_un = ddf.nunique(axis=0) #ddf.nunique()

In [64]:
ddf.nunique(axis=1)

0    2
1    1
2    1
3    2
dtype: int64

In [69]:
c_un

0    2
1    2
dtype: int64

In [70]:
s_un = pd.Series(c_un)

In [71]:
c_un ==s_un

0    True
1    True
dtype: bool